{% assign without-image = nil %}
<!-- begin article -->
<div class="article">
  <div class="container">

    <div class="article__wrapper">

        {% if project.image %}
          <a href="{{project.url | prepend: site.baseurl}}" class="article__image" style="background-image: url({{site.baseurl}}{{project.image}})">
          </a>
        {% else %}
          {% assign without-image = 'article-without-image' %}
        {% endif %}

        <div class="article__content {{ without-image }}">
      
          <h2 class="article__title" style="margin-bottom:5px;">
            <a href="{{ project.url | prepend: site.baseurl }}">{{project.title}}</a>
          </h2>

          <h5 style="margin-bottom: 10px; color: gray;">
            {{project.subtitle}}
          </h5>
      
          <p class="article__excerpt">{% if project.description %}{{ project.description }}{% else %}{{ project.content | strip_html | truncate: 185 }}{% endif %}</p>

            <a href="{{project.url | prepend: site.baseurl}}" class="read-more">More Info <i class="ion ion-ios-arrow-forward"></i></a>
          </div>

        </div>

      </div>
      
  </div>
</div>
<!-- end article -->